<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Login</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>Register</h1>

	<form action = "/Login" method = "POST">
		<div>
			<input type="email" id="email" name="email" placeholder="Email" required>
		</div>
		<div>
			<input type="password" id="password" name="password" placeholder="Password" required>
		</div>

		<div>
			<input type="submit" value="Login">
		</div>
		<a href="\register">Register an Account!</a>


	</form>
</body>
</html>

